:root {
    --main-color: #70faac;
    --bg-color: black;
    --border-args: 2px solid var(--main-color);
}

* {
    font-family: 'Courier New';

    margin: 0;
    padding: 0;

    color: #70faac;
    background-color: var(--bg-color);
}

html, body, main {
    height: 100%;
}

body, main, #buttons, #viewOutput {
    display: flex;
}

body, main {
    align-items: center;
}

body {
    flex-direction: column;
    justify-content: space-between;
}

main {
    justify-content: center;
}

header, footer, main {
    width: 100%;
}

header, footer {
    font-weight: 600;
    text-align: center;
}

header {
    border-bottom: var(--border-args);

    line-height: 3em;
}

footer {
    border-top: var(--border-args);

    font-size: 20px;
    line-height: 2em;
}

main > * {
    width: 200px;
    height: 200px;

    padding: 12px;

    border: var(--border-args);
}

#viewOutput, #viewCode {
    margin: 1%;
}

#viewOutput {
    overflow: auto;
}

#viewOutput::-webkit-scrollbar {
    width: 4px;
}

#viewOutput::-webkit-scrollbar-thumb {
    background-color: #70faac;
}

#viewOutput > #codeOutput {
    width: 100%;
}

#viewOutput > #codeLines {
    width: 16px;
}

#viewCode > hr {
    margin: 4px 0;

    border: 1px solid var(--main-color);
}

#buttons {
    justify-content: end;
}

#buttons .run, #buttons .cls {
    margin: 4px;
    padding: 4px;

    border: var(--border-args);
}

code {
    font-size: 13px;
}
